<div id="home" class="container" ng-hide="harData">
	<h1>HarViewer</h1>


	<h3><span class="label label-default">Drag and drop a .har file below to analyze</span></h3>

	<center>
			<div id="drophere">
				<span class="glyphicon glyphicon-file" aria-hidden="true" />
			</div>

			<br />
			<form id="file-form" ng-submit="submitFile()" enctype="multipart/form-data">
				<div class="box">
					<input id="file-input" class="file" type="file" accept="har" />
					<input type="submit" />
				</div>
			</form>
	</center>
</div>